<h2>Schuldengruppe bearbeiten</h2>

<%= form_for @debt_project do |f| %>
  <div>
    <%= f.label :name, "Name der Gruppe:" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :total_amount, "Gesamtbetrag:" %>
    <%= f.number_field :total_amount, step: 0.01 %>
  </div>

  <div>
    <%= f.label :deadline, "Frist:" %>
    <%= f.date_field :deadline %>
  </div>

  <h3>Mitglieder verwalten</h3>

  <!-- Debtcollector (immer der aktuelle User) -->
  <div>
    <%= check_box_tag "debt_project[user_ids][]", current_user.id, true, disabled: true %>
    <%= current_user.username %> (Debtcollector)
  </div>

  <!-- Andere Benutzer -->
  <%= hidden_field_tag "debt_project[schuldner_ids][]" %>

<% @other_users.each do |user| %>
  <% membership = @debt_project.group_memberships.find_by(user_id: user.id) %>
  <div>
    <%= check_box_tag "debt_project[schuldner_ids][]", user.id, membership.present?, id: "debt_project_user_ids_#{user.id}" %>
    <%= label_tag "debt_project_user_ids_#{user.id}", "#{user.username} (Schuldner)" %>
  </div>
<% end %>


  <%= f.submit "Aktualisieren", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2" %>
<% end %>
