<h2>Neue Aufgabe erstellen</h2>

<%= form_with(model: [@debt_project, @task], local: true) do |form| %>  
  <div>
    <%= form.label :title, "Titel:" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, "Beschreibung:" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :assigned_to_id, "Zugewiesen an:" %>
    <%= form.collection_select :assigned_to_id, @debt_project.users, :id, :username, prompt: "Wähle einen Benutzer" %>
  </div>

  <div>
    <%= form.label :amount, "Betrag (CHF):" %>
    <%= form.number_field :amount, step: '0.01', min: '0', placeholder: '0.00' %>
  </div>

  <div>
    <%= form.label :status, "Status:" %>
    <%= form.select :status, Task.statuses.keys.map { |s| [s.humanize, s] } %>
  </div>

  <%= form.submit "Aufgabe erstellen", class: "btn btn-primary" %>
<% end %>

<%= link_to "Zurück", debt_project_path(@debt_project), class: "back-link" %>