<%= link_to "Logs als CSV runterladen", activity_logs_path(format: :csv), class: "btn btn-secondary mb-4" %>


<table class="table">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Benutzer</th>
      <th>Aktion</th>
      <th>Zusammenhang</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <% @activity_logs.each do |log| %>
      <tr>
        <%# Korrektur der Datumsausgabe, falls 'l' nicht funktioniert %>
        <td><%= log.created_at ? l(log.created_at, format: :short) : 'N/A' %></td>
        <td><%= log.user.username %></td>
        <td><%= log.action %></td>
        <td>
          <% if log.trackable.is_a?(Task) %>
            Aufgabe: <%= link_to log.trackable.title, debt_project_task_path(log.debt_project, log.trackable) %>
          <% elsif log.trackable.is_a?(User) %>
            Benutzer: <%= log.trackable.username %>
          <% else %>
            Keine
          <% end %>
        </td>
        <td>
          <%# FIX: Sicherstellen, dass Details existieren und als Hash/JSON behandelt werden können %>
          <% if log.details.is_a?(Hash) || log.details.is_a?(Array) %>
            <pre><%= JSON.pretty_generate(log.details) %></pre>
          <% elsif log.details.present? %>
            <pre><%= log.details.to_s %></pre>
          <% else %>
            Keine Details
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>